@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sixtyfour+Convergence:SCAN,YELA@11,26&display=swap');

* {
    color-scheme: dark; /* scrollbars and browser UI in dark color theme */
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body, html {
    margin: 0; /* Remove default margin */
    padding: 0;
    background: transparent; /* Make Background transparent to let video through */
}

.content {
    overflow-x: hidden;
    font-size: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.content > p {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#background-video {
    position: fixed;
    left: 0;
    top: 0;
    top: 50%;
    transform: translateY(-50%);
    object-fit: cover;
    width: 100%;
    z-index: -1;
    filter: blur(10px);
}

.background {
    margin-top: 50px;
    height: auto;
    width: 100%;
    background-color: #141414;
    margin-top: 200px;
}

.background::before { /* Transition between background video and color blurred */
    content: "";
    position: relative;
    top: -50px;
    left: -10px;
    display: block;
    width: 110%;
    height: 100px;
    background: inherit; 
    filter: blur(10px); 
}

.main-view {
    height: 100vh;
}

.scroll-icon {
    font-size: 4em !important; /* Icon size */
    margin-top: 20px;
    animation: bounce 1.5s infinite;
    text-align: center;
    width: 100%;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

.main-title {
    font-family: "Sixtyfour Convergence", Arial; /* font looks like layer lines on 3d-prints */
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    font-size: 4em;
    text-align: center;
    text-shadow: 3px 3px 5px black;
}

.title { /* Title for about rn todo implement properly */
    text-align: center;
    margin: 10px;
}

.sub-title {
    color: white;
    text-align: center;
    max-width: 1000px;
    font-size: 2em;
}

.animation-title {
    text-decoration: underline;
    font-size: 1.8em;
    margin-top: 400px;
}

.description {
    color: white;
    text-align: center;
    max-width: 1000px;
    font-size: 1.5em;
}

/* Show On Scroll */

.show-on-scroll {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}


/* Sub-Pages */

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.image {
    max-width: 500px;
    /* width: 100%; */
    border-radius: 10px;
    margin: 1rem;
}

.image-box-shadow {
    box-shadow: 8px 8px 40px #1b6568;
}

.floating-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    text-align: center;
}

@media (max-width: 1000px) {
    .image-container {
      flex-direction: column; /* Bild und Text untereinander */
      align-items: center; /* Optional: Zentriert Inhalt horizontal */
    }
  }


.info-table {
    margin: 2rem auto;
    border-collapse: collapse;
    outline: 4px solid #0b2627;
    width: 90%;
    max-width: 800px;
    box-shadow: 8px 8px 40px #0b2627;
    border-radius: 8px;
    overflow: hidden;
}

.info-table th,
.info-table td {
    text-align: left;
    padding: 1rem;
}

.info-table th {
    background-color: #0b2627;
    color: white;
}

.info-table td {
    background-color: #33333350;
}

.info-table tr:nth-child(even) td {
    background-color: #36363691;
}

/* Return to Home */

.returnToPageLink {
    color: white;
    display: inline-flex;
    margin-top: 20px;
    margin-left: 35px;
    padding: 5px;
    padding-bottom: 3px;
    padding-right: 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
    text-decoration: none; 
    width: fit-content;
    align-self: flex-start;
}

.returnToPageLink span {
    font-size: 25px;
    margin-top: -2px;
}

.returnToPageLink:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Benchy Comparison */

#comparison {
    max-width: 100px;
    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;
    overflow: hidden;
    padding-left: 0%;
    margin-bottom: 50px;
}

#comparison figure {
    background-image: url(../media/benchy/good_benchy.png);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#comparison figure > img {
    position: relative;
    width: 100%;
    padding: 0;
}

#divisor {
    background-color: #141414;
    background-image: url(../media/benchy/bad_benchy.png);
    background-size: cover;

    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    bottom: 0;
    padding: 0;

    display: flex;
    justify-content: right;
}

#divisor::before {
    content: "";
    width: 3px;
    background-color: white;
    border-radius: 10px;
}


/* Animated Categories */

#category {
    width: 600px;
    max-width: 80vw;
    z-index: 100;
}

#categoryTitle {
    font-size: clamp(2rem, 5vw, 3rem);
}

#categoryDetails {
    font-size: clamp(1rem, 3vw, 2rem);
}

#categoryPageLink {
    font-size: clamp(1rem, 3vw, 2rem);
    background-color: #152427;
    color: #00f5f5;
    border: 2px solid #00f5f5;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

#categoryPageLink:before { /* Rainbow border */
    content: "";
    background: linear-gradient(45deg, #ff0000, 
        #ff7300, 
        #fffb00, 
        #48ff00, 
        #00ffd5, 
        #002bff, 
        #7a00ff, 
        #ff00c8, 
        #ff0000);
    position: absolute;
    top: -4px;
    left:-4px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

#categoryPageLink:hover:before {
    opacity: 1;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#threejsanimation {
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1
}

#animationcontainer {
    width: 100%;
}

.keyframe {
    margin-bottom: 400px; /* scrollable space between each category */
}

/* Footer */

footer {
    background-color: #0b2627;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    width: 100%;
}

footer p {
    font-family: 'Monaco', 'Arial', sans-serif;
}
  
footer a {
    color: #0ae4e4;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.filament-roll {
    width: 100%;
    text-align: left;
    overflow: hidden;
}

.filament-roll img {
    width: 100px;
    height: 100px;
    animation: roll 10s linear infinite;
    margin-left: -100px;
}

#filamentpath {
    height: 9px;
    background-color: white;
    animation: filamentpath 10s linear infinite;
    margin-top: -14px;
}

@keyframes roll {
    0% {
        margin-left: -100px;
    }
    95%, 100% {
        margin-left: 100%;
    }
}
@keyframes filamentpath {
    0% {
        margin-left: -100px;
        width: 0;
        transform: translateY(0);
    }
    95% {
        margin-left: 0px;
        width: 100%;
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px); /* move "old" layer down */
        width: 100%;
    }
}