@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

* {
    color-scheme: dark; /* scrollbars and browser UI in dark color theme */
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    margin: 0; /* Remove default margin */
    padding: 0;
    background: transparent; /* Make Background transparent to let video through */
  }

.content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 2em;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    flex-direction: column;
    overflow: hidden;
}

#background-video {
    position: fixed;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    z-index: -1;
    filter: blur(10px);
}

.background {
    margin-top: 50px;
    height: auto;
    width: 100%;
    background-color: #141414;
    z-index: 0;
}

.background2 {
    margin-top: 0px;
    height: auto;
    width: 100%;
    background-color: #141414;
    z-index: 0;
}

.background::before {
    content: "";
    position: relative;
    top: -50px;
    left: -10px;
    display: block;
    width: 110%;
    height: 100px;
    background: inherit; 
    filter: blur(10px); 
}

.main-view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.scroll-icon {
    font-size: 2em !important; /* Icon size */
    margin-top: 20px;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

.maintitle {
    font-family: "Sixtyfour Convergence", Arial; /* font looks like layer lines on 3d-prints */
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    font-size: 2em;
    text-align: center;
    text-shadow: 3px 3px 5px black;
}

.title {
    text-align: center;
    margin: 10px;
}

.sub-title {
    color: white;
}

.benchy-comparison {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.benchy-comparison img {
    width: 40%;
    max-width: 300px;
    flex-shrink: 1;
}

/* Show On Scroll */

.show-on-scroll {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}


/* Kacheln */
.tile-container {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    padding: 10%;
    margin-bottom: 30px;
    
}
.tile {
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.tile h2 {
    margin-top: 0;
}


/* Benchy Comparison */
div#comparison {
    max-width: 100px;
    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;
    overflow: hidden;
    padding-left: 0%;
}
  
div#comparison figure {
    background-image: url(/media/3d_models/bad_benchy.png);
    background-size: cover;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 0%;
}

div#comparison figure>img {
    position: relative;
    width: 100%;
    padding-left: 0%;
}

div#comparison figure div {
    background-color: #141414;
    background-image: url(/media/3d_models/good_benchy.png);
    background-size: cover;
    position: absolute;
    width: 50%;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    bottom: 0;
    height: 100%;
    padding-left: 0%;
}