@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

* {
    color-scheme: dark; /* scrollbars and browser UI in dark color theme */
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    margin: 0; /* Remove default margin */
    padding: 0;
    background: transparent; /* Make Background transparent to let video through */
}

.center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 2em;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    flex-direction: column;
    overflow: hidden;
}

#background-video {
    position: fixed;
    left: 0;
    top: 0;
    top: 50%;
    transform: translateY(-50%);
    object-fit: cover;
    width: 100%;
    z-index: -1;
    filter: blur(10px);
}

.background {
    margin-top: 50px;
    height: auto;
    width: 100%;
    background-color: #141414;
    z-index: 0;
    margin-top: 200px;
}

.background::before {
    content: "";
    position: relative;
    top: -50px;
    left: -10px;
    display: block;
    width: 110%;
    height: 100px;
    background: inherit; 
    filter: blur(10px); 
}

.main-view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.scroll-icon {
    font-size: 2em !important; /* Icon size */
    margin-top: 20px;
    animation: bounce 1.5s infinite;
    text-align: center;
    width: 100%;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

.maintitle {
    font-family: "Sixtyfour Convergence", Arial; /* font looks like layer lines on 3d-prints */
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    font-size: 2em;
    text-align: center;
    text-shadow: 3px 3px 5px black;
}

.title {
    text-align: center;
    margin: 10px;
}

.sub-title {
    color: white;
    text-align: center;
}

.animation-title {
    text-decoration: underline;
    font-size: 1.8em;
    margin-top: 400px;
}

/* Show On Scroll */
.show-on-scroll {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/* Kacheln */
/*.tile-container {
    display: grid;
    grid-template-columns: auto; /*repeat(auto-fill, minmax(300px, 1fr))*//*
    gap: 20px;
    padding: 10%;
    margin-bottom: 30px;
    
}
.tile-container a {
    text-decoration: none;
    color: white;
}

.tile {
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.tile h2 {
    margin-top: 0;
}*/


/* Benchy Comparison */

#comparison {
    max-width: 100px;
    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;
    overflow: hidden;
    padding-left: 0%;
    margin-bottom: 50px;
}
  
#comparison figure {
    background-image: url(/media/benchy/good_benchy.png);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#comparison figure > img {
    position: relative;
    width: 100%;
    padding: 0;
}

#divisor {
    background-color: #141414;
    background-image: url(/media/benchy/bad_benchy.png);
    background-size: cover;
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    bottom: 0;
    padding: 0;

    display: flex;
    justify-content: right;
}

#divisor::before {
    content: "";
    width: 3px;
    background-color: white;
    border-radius: 10px;
}


/* Animated Categories */

.categorytile {
    position: relative;
    top: 500px;
    left: 100px;
}

#threejsanimation {
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1
}

#animationcontainer {
    width: 100%;
}

.keyframe {
    margin-bottom: 400px;
}

/* Footer */
footer {
    background-color: #152427;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    width: 100%;
}

footer p {
    font-family: 'Monaco', 'Arial', sans-serif;
}
  
footer a {
    color: #0ae4e4;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.filament-roll {
    width: 100%;
    text-align: left;
    overflow: hidden;
}

.filament-roll img {
    width: 100px;
    height: 100px;
    animation: roll 10s linear infinite;
    margin-left: -100px;
}

#filamentpath {
    height: 9px;
    background-color: white;
    animation: filamentpath 10s linear infinite;
    margin-top: -18px;
}

@keyframes roll {
    0% {
        margin-left: -100px;
    }
    95%, 100% {
        margin-left: 100%;
    }
}
@keyframes filamentpath {
    0% {
        margin-left: -100px;
        width: 0;
        transform: translateY(0);
    }
    95% {
        margin-left: 0px;
        width: 100%;
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px); /* move "old" layer down */
    }
}